<ion-header [translucent]="true">
  <ion-toolbar>
    <div>Downloads</div>
    <div slot="end" style="margin-right: 10px;"><img src="../../assets/icon/cast.png"></div>
    <div slot="end"><img src="../../assets/icon/user.png"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="noDownload">
    <div>
      No videos downloaded
    </div>
    <div class="secondRow">
      Auto downloads: On
    </div>
    <div class="secondRow">
      <div class="dot">.</div>
    </div>
    <div class="secondRow">
      <div class="manage">Manage</div>
    </div>
  </div>
  
  
</ion-content>
