<ion-header [translucent]="true">
  <ion-toolbar>
    <div>Find</div>
    <div slot="end" style="margin-right: 10px;"><img src="../../assets/icon/cast.png"></div>
    <div slot="end"><img src="../../assets/icon/user.png"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Search by actor, title..." class="custom" (ionChange)="search($event.target.value)"></ion-searchbar>


    <div *ngIf="spin == true" class="loading">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

      <ion-list *ngFor="let movie of result"  class="list" >
        <ion-item>
          <ion-label routerLink="/detail/{{movie.id}}">
            {{movie.title}}
          </ion-label>
        </ion-item>
      </ion-list>

</ion-content>
