ion-searchbar.custom{
    --background: white;
    --placeholder-color: gray;
    --border-radius: 10px;
}

.loading{
    position: absolute;
    transform: translate(50%,-50%);
    top: 50%;
    right: 50%;
}

.list{
    margin-left: 10px;
    margin-right: 12px;
    font-size: 15px;
    margin-top: 3px;
    border-bottom: 1px;
}
