.title{
    margin-left: 10px;
}

.poster-img{
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.detail{
    .info{
        margin-left: 6px;
        margin-right: 6px;
        text-align: justify;
    }
}
